<ion-content class="ion-paddig">

  <div class="login-logo">
    <img src="assets/icon/favicon.png" class="logo_icon">
    <p class="login-name">Mobile Market Place</p>
    <p class="subTitle">Enter your login detail to access your account</p>
  </div>

  <ion-card>
    <h2 class="ion-text-center header_lbl" >Login</h2>
    <form>
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
        </ion-item>
        
        <ion-button expand="block" shape="round" type="submit" (click)="login()">Login</ion-button>
      
      </ion-list>
    </form>
  </ion-card>

  <div style="text-align: center;">
    <p>Don't have account? Register <a [routerLink]="['/register']">Here!</a></p>
  </div>
</ion-content>
