<ion-header>
  <ion-toolbar>
    <ion-title>Mobile Market Place</ion-title>
    <ion-button slot="end">
      <ion-button routerLink="/my-listings-add">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content class="padding">
    <ion-item
      *ngFor="let item of itemList | async"
      routerLink="/detail/{{item.id}}"
    >
      <ion-label>
        <h2>{{ item.itemName}}</h2>
        <p>Item Price: Rs.{{ item.itemPrice }}</p>
      </ion-label>
    </ion-item>
  </ion-content>
</ion-content>
